#terminal {
    padding: 1em 1.5em 1em 1em;
    height: 75vh;
    font-size: 20px;
    color: #04E824;
    font-family: Inconsolata, monospace;
    background-color: #202421;
    border-radius: 6px;
    overflow-y: auto;
}

#cmdline {
    outline: none;
    background-color: transparent;
    margin: 0 6px;
    width: 35vw !important;
    font: inherit;
    border: none;
    color: inherit;
}

.inLine {
  display: inline !important;
}

.prompt-color {
    color: #CD8B76;
}

.input-line > div:nth-child(2) {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}
